
/* Light theme colors */


html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    padding: 4px;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 40%;
}

.textarea {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    overflow-wrap: normal;
    overflow-x: scroll;
    min-width: 350px;
    min-height: 200px;
    top: 0;
    bottom: 0;
    width: 95%;
    height: 100%;
}

.divmatra {
    width: 95%;
    box-sizing: border-box;
    font-size: 16px;
    
}

.float-container {
    width: 100vw;
    float: left;
}

.left {
    vertical-align: top;
    min-width: 350px;
    display: inline-block; 
}

.right {
    vertical-align: top;
    min-width: 350px;
    display: inline-block;     
}

.footer {
    width: 100%;
    padding-right: 0px;
    display: block;
    float: left;
}

.matratable {

    width: 100%;
    border: 0px solid;
    padding: 0px;
    vertical-align: top;
}

td {
    text-align: center;
    text-wrap: nowrap;
    padding: 2px;
    border: 0px solid;
}
